 #Content-image {
    height: 300px;;
    width: 300px;
}
html{
    margin: 0;
}
section {
    background-color: rosybrown;
}
body {
    
    margin: 0;  
    height: 100vh; 
    width: 100vw; 
    background-color: #e0e0e0;
}
.Header .Header-image {
   height: 60px;
   width: 60px;
   border-radius: 50px;
}

 #Content-image{
    height: 150px;
    width: 150px;
}

#Footer-image{
    height: 20px;
    width: 22px;
}

.Content .Content-Search {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Content-Images{
    
    margin : 50px auto;
    text-align: center;
    
}

#Content-image {
    padding: 4%;
    border-radius: 25%;
}