section {
    background-color: rosybrown;
}
body {
    
    margin: 0;  
    height: 100vh; 
    width: 100vw; 
    background-color: #e0e0e0;
}

.Header .Header-image {
    height: 60px;
    width: 60px;
    border-radius: 50px;
 }
#Content-Hotel-Img{
    width: 250px;
    height:200px;
}

#Footer-image{
    height: 20px;
    width: 22px;
}
#Content-Hotel {
    background-color: rgb(132,136,139);
    margin: 2%;
    width: 40%;

}
