body {
  height:fit-content;
  width:fit-content;
  overflow: scroll;
}

.Header .Header-image {
    height: 60px;
    width: 60px;
    border-radius: 50px;
 }
#Content-Hotel{
    width: 250px;
    height:200px;
}

#Footer-image{
    height: 20px;
    width: 22px;
}