body {
    
    margin: 0;  
    height: 100vh; 
    width: 100vw; 
    overflow: scroll; 
}
.Header .Header-image {
   height: 60px;
   width: 60px;
   border-radius: 50px;
}

#Footer-image{
    height: 20px;
    width: 22px;
}

#Content-Hotel{
    height: 500px;
    width: 500px;
}
